EMAIL='admin@mydomain.com'
DOMAINNAME='mydomain.com'
CONTAINERS_DIR='/home/<USER>/containers'
CONFIGS_DIR='/home/<USER>/containers/configs'
VOLUMES_DIR='/home/<USER>/containers/volumes'
TRAEFIK_NET='traefik_net'

# basic auth user and pass
# NOTE: no need to double escape these like you would if you put them directly into the compose file
# NOTE: generated password with htpasswd
USER='USER'
PASS='PASS'
